:root{
   --pale-blue:hsl(225, 100%, 94%);// white substitute
   --bright-blue: hsl(245, 75%, 52%);// button, link
   --very-pale-blue:hsl(225, 100%, 98%);// grey substitute
   --desaturated-blue: hsl(224, 23%, 55%);// music icon circle
   --dark-blue:  hsl(223, 47%, 23%);// shadow button
   --font-suze:16px;
   --font-weight-title:900;
   --font-weight-sub:700;
   --font-wwight-normal: 500;
}
